<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">

    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"></listener>
    </listeners>
    <test name="User Tests">
        <classes>
            <class name="api.test.DDTests"/>
            <class name="api.test.UserTests"/>
        </classes>
    </test>
</suite>
